## First Step With Python:

In [2]:
2+3+7

12

In [3]:
9-5

4

In [4]:
23.65 * -6

-141.89999999999998

In [5]:
100/7

14.285714285714286

In [7]:
100//7

14

In [205]:
100 % 7 # remainder

2

In [206]:
5**3 # 5 to the power 3

125

In [11]:
((2+7) * (26-4)) / (4**3)

3.09375

Solving a problem using variable:

A grocery store sells a bag o ice for $1.25 and makes 20% profit. If it sells 500 bags of ice, how much total profit does it make?

Cost of ice bag ($) = 1.25
Profit margin = 20% = 0.2
No. of bags = 500
Profit per bag($) = profit margin * cost of ice bag = 2 * 1.25
Total profit = no. of bags * profit per bag = 500 * (2 * 1.25)

In [12]:
500 * (0.2 * 1.25)

125.0

While working with a programming language such as Python, information is stored in variables. Variable can be thought as a container for storing data. The data stored within a variable is called its value.

In python words in variable name can not be seperated, we usually use underscore to connect the words. 

Note: variable need to be define/declare first before it can be used.

In [207]:
cost_of_ice_bag = 1.25 # here variables are declared to use them later
profit_margin = 0.2
number_of_bags = 500

In [17]:
profit_per_bag = cost_of_ice_bag * profit_margin

In [18]:
profit_per_bag

0.25

In [19]:
total_profit = number_of_bags * profit_per_bag

In [20]:
total_profit

125.0

In [211]:
print("The store makes a total profit of $", total_profit) # remember to use the comma!

The store makes a total profit of $ 125.0

In [212]:
"""All the above calculations can be done in one code cell.
Store input data in variables"""

cost_of_ice_bag = 1.25
profit_margin = 0.2
number_of_bags = 500

# Perform the required calculations
profit_per_bag = cost_of_ice_bag * profit_margin
total_profit = number_of_bags * profit_per_bag

# Display the result
print("The store makes a total profit of $", total_profit)

The store makes a total profit of $ 125.0

## Adding text styles using Markdown

Adding explanations using text cells (like this one) is a great way to make your notebook informative for other readers. It is also useful if you need to refer back to it in the future. You can double click on a text cell within Jupyter to edit it. In the edit mode, you'll notice that the text looks slightly different (for instance, the heading has a `##` prefix. This text is written using Markdown, a simple way to add styles to your text. Execute this cell to see the output without the special characters. You can switch back and forth between the source and the output to apply a specific style.

For instance, you can use one or more `#` characters at the start of a line to create headers of different sizes:

# Header 1

## Header 2

### Header 3

#### Header 4

To create a bulleted or numbered list, simply start a line with `*` or `1.`.

A bulleted list:

* Item 1
* Item 2
* Item 3

A numbered list:

1. Apple
2. Banana
3. Pineapple

You can make some text bold using `**`, e.g., **some bold text**, or make it italic using `*`, e.g., *some italic text.* You can also create links, e.g., [a link](https://jovian.ai). Images are easily embedded too:

![](https://i.imgur.com/3gjZMYK.png)

Another really nice feature of Markdown is the ability to include blocks of code. Note that code blocks inside Markdown cells cannot be executed.

```
# Perform the required calculations
profit_per_bag = cost_of_ice_bag * profit_margin
total_profit = number_of_bags * profit_per_bag

# Display the result
print("The grocery store makes a total profit of $", total_profit)

```

You can learn the full syntax of Markdown here: https://learnxinyminutes.com/docs/markdown/

In [26]:
my_favorite_color = "blue"

In [27]:
my_favorite_color

'blue'

In [36]:
color1, color2, color3 = "red", "green", "blue"

In [37]:
color1

'red'

In [38]:
color2

'green'

In [39]:
color3

'blue'

In [40]:
color4 = color5 = color6 = "magenta"

In [41]:
color4

'magenta'

In [42]:
color5

'magenta'

In [43]:
color6

'magenta'

In [46]:
my_favorite_color = "red"

**When we re-assign a variable, new value is displayed.**

In [47]:
my_favorite_color

'red'

In [48]:
number = 5

In [49]:
number = number + 2

*Which is similar to number += 2*

In [51]:
number

7

*Variable name are case sensative. It must start with letter or underscore. It can not start with number. No special character other than underscore*

In [53]:
a_variable = 23

In [54]:
type(a_variable)

int

In [58]:
is_today_saturday = False

In [60]:
type(is_today_saturday)

bool

In [63]:
my_favorite_car = "volvo"

In [64]:
type(my_favorite_car)

str

In [65]:
subject = ['math', "physica", "chemistry"]

In [66]:
type(subject)

list

Python has the following built-in data types for storing information in variables.

1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary

In [67]:
pi = 22/7

In [68]:
pi

3.142857142857143

In [69]:
int(pi)

3

In [70]:
float(int(pi))

3.0

In [71]:
# in a mathematical operation if any of the number is float, the
# result will be considered as float.

type(35 * 3.0)

float

In [75]:
"""Boolean automatically converts to integer in arithematic operation.
True = 1 and False = 2"""

7 * False

0

In [78]:
5. + True

6.0

In [76]:
7 * True

7

In [213]:
price = 102
item_is_expensive = price >= 100
item_is_expensive

True

Any value in Python can be converted to Boolean using bool function.
Only the following values evaluated as False (they are also called falsy values)
* The value False itself
* zeor (integer and float)
* None
* Empty string (""), list, dictionary, tuple, set and range.

In [1]:
# string
favorite_movie = 'Ayaan\'s favorite movie is Frozen'
favorite_movie_1 = "Ayaan's favorite movie is Frozen"

In [4]:
favorite_movie

"Ayaan's favorite movie is Frozen"

In [5]:
a = 'Rishan\' ball is blue'
a

"Rishan' ball is blue"

In [6]:
multiline_string = """a
b"""

In [7]:
len(multiline_string)

3

In [8]:
multiline_string_1 = "a\nb"

In [9]:
len(multiline_string_1)

3

#### Enter, space and newline are consider as character in python

In [10]:
string_1 = "a b"

In [11]:
len(string_1)

3

In [16]:
list(multiline_string) # enter is considered as a separate character in the list

['a', '\n', 'b']

In [12]:
list(multiline_string_1) # see, newline is considered as separate character in the list

['a', '\n', 'b']

In [14]:
list(string_1) # see, space is considered as a separate character in the list

['a', ' ', 'b']

In [17]:
Today = "Sunday"

In [18]:
Today[0]

'S'

In [24]:
Today[3:6] # last index number is not taken

'day'

In [28]:
"day" in Today # note, part of one word can be used to search if it is in the word.

True

In [27]:
"Mon" in Today

False

In [29]:
first_name = "Muhammad"

In [30]:
last_name = "Alam"

In [42]:
greeting = "hi"

In [43]:
Text = greeting + ' '+ first_name + " " + last_name # while concatening strings do not forget to add extra space to separate strings.

In [44]:
Text

'hi Muhammad Alam'

##### Method are function associated with data type, which can be accessed using dot(.) notation.

In [45]:
Text.lower()

'hi muhammad alam'

In [46]:
Text.upper()

'HI MUHAMMAD ALAM'

In [49]:
Text.replace("hi", "Hello")

'Hello Muhammad Alam'

In [50]:
Text.capitalize()

'Hi muhammad alam'

In [76]:
Today.replace("Sun", "Mon") # replace method can even be used to replace part of a word

'Monday'

In [77]:
Today # note, method does not modify the original string

'Sunday'

In [215]:
Text # string method does not modify the original string

'hi Muhammad Alam'

In [224]:
Text_1 = " Sam, how are you today? " # strip method is used to remove space and newlines

In [225]:
Text_1.strip()

'Sam, how are you today?'

In [84]:
cost_of_ice_bag = 1.25
profit_margin = 0.2
number_of_bags = 500

# Perform the required calculations
profit_per_bag = cost_of_ice_bag * profit_margin
total_profit = number_of_bags * profit_per_bag

# Display the result
print("The store makes a total profit of $", total_profit)

The store makes a total profit of $ 125.0

In [86]:
print("The store makes a total profit of {} $".format(total_profit)) # format method is used to add other data type in a string

The store makes a total profit of 125.0 $

In [88]:
# comparision operator
Apple = "red"

In [89]:
Apple == 'red'

True

In [90]:
Apple == "green"

False

In [91]:
Apple != "pink"

True

In [92]:
# List
fruits = ["Apple", "Orange", "Mango", "Banana"]

In [93]:
list_1 = [2, 3.2, fruits, 2 <= 5, "Cherry", None]

In [96]:
list_1 # list can be a combination of all different types of data

[2, 3.2, ['Apple', 'Orange', 'Mango', 'Banana'], True, 'Cherry', None]

In [97]:
list_1[2]

['Apple', 'Orange', 'Mango', 'Banana']

In [98]:
len(list_1)

6

In [103]:
list_1[-2]

'Cherry'

In [105]:
list_1[-3] # indexing of list, 0, 1, 2, 3 ......,// .......-3, -2, -1

True

In [106]:
list_1[-6]

2

In [107]:
list_1[0]

2

In [114]:
list_1[2]

['Apple', 'Blueberry', 'Mango', 'Banana']

In [216]:
list_1[2][1] = "Blueberry" # this is how you can replace element in a list, however to add, need to use append method.
                            # However, "text.replace(a, b)" is used to replace text or part of the text in a string.

In [113]:
list_1[2]

['Apple', 'Blueberry', 'Mango', 'Banana']

In [119]:
list_1[2][3] = 'Strawberry'

In [117]:
list_1[2]

['Apple', 'Blueberry', 'Mango', 'Strawberry']

In [227]:
list_1[2].append("Banana") # append is used to include an item at the end of the list

In [127]:
list_1[2]

['Apple', 'Blueberry', 'Mango', 'Strawberry', 'Banana']

In [130]:
# how to delete item from a list?

In [131]:
list_1[2].remove("Blueberry")

In [132]:
list_1[2]

['Apple', 'Mango', 'Strawberry', 'Banana']

In [133]:
list_1[2].insert(1, "Blueberry") # insert takes an index and put the item in that position

In [134]:
list_1[2]

['Apple', 'Blueberry', 'Mango', 'Strawberry', 'Banana']

In [226]:
list_1[2].pop(1) # pop remove item from the mentioned index

'Blueberry'

In [136]:
list_1[2]

['Apple', 'Mango', 'Strawberry', 'Banana']

In [139]:
a = "Sunday"

In [140]:
a.replace('Sun', "Mon")

'Monday'

In [141]:
a

'Sunday'

In [142]:
"Apple" in list_1[2]

True

In [154]:
new_list = list_1[2] + ["Pear", "Cherry"] + ['Jackfruit', "Guava"] # list can be added (but not with string) with a list using "+" sign.

In [155]:
new_list

['Apple', 'Banana', 'Strawberry', 'Pear', 'Cherry', 'Jackfruit', 'Guava']

##### Further Study:
* Reverse the order of elements in a list
* Add the elements of one list to the end of another list
* Sort a list of strings in alphabetical order
* Sort a list of numbers in decreasing order

#### Tuple is similar to list, but can not be modified. Hence, append, remove, pop, insert method are not there for tuple. 
#### We use it when no one should be allowed to change items in a set.

In [174]:
# Dictionary
student_1 = {"name" : "Rishan",
             "id" : 2563,
             "passed": True,
             "address" : "7-Mossberry St"
}

In [175]:
student_1

{'name': 'Rishan', 'id': 2563, 'passed': True, 'address': '7-Mossberry St'}

In [176]:
student_2 = dict(name = "Ayaan", id = 5623, passed = True, addres = "7-Mossberry St")

In [177]:
type(student_1)

dict

In [178]:
student_2['name']

'Ayaan'

In [179]:
student_1["passed"]

True

In [181]:
student_1.get("married", "no_information") # get method is used to avoid getting error message.

'no_information'

In [182]:
"name" in student_1

True

In [183]:
student_1['pass'] = "with distinction"

In [228]:
student_1

{'name': 'Rishan',
 'id': 2563,
 'passed': True,
 'address': '7-Mossberry St',
 'pass': 'with distinction'}

In [229]:
student_1['name'] = "joye"

In [230]:
student_1

{'name': 'joye',
 'id': 2563,
 'passed': True,
 'address': '7-Mossberry St',
 'pass': 'with distinction'}

In [237]:
student_1["married"] = False     # remember, in a list to add item, you have to use append or insert method
                                # item can not added like this in a list. However, the appraoch used in here, can be applied 
                                # to replace item/value both in a list and a dictionary.

In [232]:
student_1

{'name': 'joye',
 'id': 2563,
 'passed': True,
 'address': '7-Mossberry St',
 'pass': 'with distinction',
 'married': False}

In [198]:
student_1.keys()

dict_keys(['name', 'id', 'passed', 'address', 'pass', 'married'])

In [199]:
student_2.values()

dict_values(['Ayaan', 5623, True, '7-Mossberry St'])

In [200]:
student_1.items()

dict_items([('name', 'Rishan'), ('id', 2563), ('passed', True), ('address', '7-Mossberry St'), ('pass', 'with distinction'), ('married', False)])

In [201]:
student_1.pop("married") # like list, pop is used to remove item based on index

False

In [202]:
student_1

{'name': 'Rishan',
 'id': 2563,
 'passed': True,
 'address': '7-Mossberry St',
 'pass': 'with distinction'}